# <IfModule mod_rewrite.c>
#   Options +FollowSymLinks
#   RewriteEngine On
#   RewriteBase /
#   # RewriteCond %{HTTP:X-Forwarded-Proto} !https
#   # RewriteRule ^(.*) https://%{HTTP_HOST}/$1 [R,L]
#   # RewriteRule ^index\.php$ - [L]
#   # RewriteCond %{REQUEST_FILENAME} !-f
#   # RewriteCond %{REQUEST_FILENAME} !-d
#   RewriteRule .* /index.php [L]
# </IfModule>

RewriteEngine On
# RewriteCond %{DOCUMENT_ROOT} !-f
# RewriteRule !\.(js|ico|gif|jpg|png|css|html|swf|flv|xml)$ index.php [QSA,L]
RewriteCond $1 !^(index\.php)
RewriteRule ^(.*)$ /index.php/$1 [L]